name: Build
on:
  pull_request:
    branches:
    - master
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
        ocaml-version: ['4.09.0']
    steps:
    - uses: actions/checkout@v2
    - uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-version }}
    - name: Ensure openssl
      run: brew install openssl@3
    - name: Setup opam
      run: opam pin add -n .
    - name: Install dependencies
      run: opam depext -yt mad
    - name: Build and test
      run: opam install -t .
  nix-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ocamlVersion: [4_12, 4_13, 4_14, 5_00]
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v17
    - uses: cachix/cachix-action@v10
      with:
        name: anmonteiro
    - name: "Run nix-build"
      run: nix-build ./nix/ci/test.nix --argstr ocamlVersion ${{ matrix.ocamlVersion }}

